# ---- Composer ---- #
/vendor
composer.phar
composer.lock

# ---- Configurations ---- #
.env.*.php
scripts/
bootstrap/environment.php
app/config/local/*

# ---- DB backups ---- #
/backup

# ---- Filesystem ---- #
.DS_Store
Thumbs.db

# ---- Frontend compilers ---- #
bower_components/
node_modules/
public/dist/

# ---- Other FIXME? ---- #
/public/img/backgrounds-production
*.swp
